*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    padding: 45px;
}

.card{
    background-color: white;
    border-radius: 25px;
    width: 200px;
    padding-bottom: 20px;
}

.img{
    padding: 6px;
}

.img img{
    border-radius: 20px;
}

.capsules{
    display: flex;
    gap: 6px;
    padding: 6px;
    font-size: 10px;
}

.capsules div{
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 8px;
}

h2{
    padding: 0 8px;
    font-size: 18px;
}

p{
    padding: 6px 8px;
    font-size: 12px;
    color: #444;
}
.readmore{
    transition: all 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 25px;
    font-family:sans-serif;
    font-size: 11px;
    padding: 4px;
    max-width: fit-content;
    align-items: center;
}
.readmore:hover{
    background-color: #444;
    color: aliceblue;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.034);
}